
  <!-- Cols -->
            <div class="cols">
                <div class="cl">&nbsp;</div>

                <!-- Col -->
                <div class="col">
                    <h3>Facilidade</h3>
                    <p>
                        Nosso painel de controle permite que o cliente possa enviar mensagens em massa para diversos números de dispositivos móveis capazes de receber mensagens SMS.<br />
                        <a href="#" class="more">saiba mais</a>
                    </p>
                    <p>
                        Oferecemos uma API para desenvolvedores ou empresas que queiram integrar os seus sistemas a nossos serviços.
                        <br />
                        <a href="#" class="more">saiba mais</a>
                    </p>
                </div>
                <!-- End Col -->

                <!-- Col -->
                <div class="col">
                    <h3>Segurança</h3>
                    <p>
                        Para os clientes que utilizam nossa API,nossos serviços de Envio de SMS ou nosso nosso Painel de Controle têm a garantia de um ambiente seguro e que armazena os dados de forma criptografada. 
                        <br />
                        <a href="#" class="more">saiba mais</a>
                    </p>
                </div>
                <!-- End Col -->

                <!-- Col -->
                <div class="col col-last">
                    <h3>Bom Preço</h3>
                    <p>
                        Oferecemos planos com pacotes atrativos para pequenas, médias e grandes corporações que buscam se comunicar de forma rápida e eficiente com os seus clientes.
                        <br />
                        <a href="#" class="more">saiba mais</a>
                    </p>
                </div>
                <!-- End Col -->

                <div class="cl">&nbsp;</div>
            </div>
            <!-- End Cols -->