<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <contexts>
      <context type="SmsGateway.Infrastructure.Data.CoreContext.UnitOfWork.CoreContextUnitOfWork, SmsGateway.Infrastructure.Data.CoreContext">
        <!-- <databaseInitializer type="System.Data.Entity.MigrateDatabaseToLatestVersion`2[[SmsGateway.Infrastructure.Data.CoreContext.UnitOfWork.CoreContextUnitOfWork, SmsGateway.Infrastructure.Data.CoreContext], [SmsGateway.Infrastructure.Data.CoreContext.Migrations.Configuration, SmsGateway.Infrastructure.Data.CoreContext]], EntityFramework" /> -->
      </context>
    </contexts>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
    <add name="SmsGateway.Infrastructure.Data.CoreContext.UnitOfWork.CoreContextUnitOfWork" providerName="System.Data.SqlClient" connectionString="Server=.\SQLEXPRESS;Initial Catalog=SmsGateway;Integrated Security=true;MultipleActiveResultSets=True" />
  </connectionStrings>
  <appSettings>
    <add key="DbProvider" value="System.Data.SqlServerCe.4.0"/>
    <!-- DEV <add key="DbProvider" value="System.Data.SqlClient"/>  -->
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </modules>
  </system.webServer>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="SmsGateway.DistributedServices.Restful.CoreContext.AdministracaoService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="SmsGateway.DistributedServices.Restful.CoreContext.IAdministracaoService"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="SmsGateway.DistributedServices.Restful.CoreContext.ClientService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="SmsGateway.DistributedServices.Restful.CoreContext.IClientService"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="SmsGateway.DistributedServices.Restful.CoreContext.ApiService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="SmsGateway.DistributedServices.Restful.CoreContext.IApiService"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>


        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp helpEnabled="true"  defaultOutgoingResponseFormat="Json" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true"/>
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>
</configuration>