<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IApiService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://70.38.8.59/soap/ApiService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IApiService" contract="SmsAgileSoapService.IApiService"
                name="BasicHttpBinding_IApiService" />
        </client>
    </system.serviceModel>
</configuration>