<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <!--Entity Framework-->
  <entityFramework>
    <contexts>
      <context type="SmsGateway.Infrastructure.Data.CoreContext.UnitOfWork.CoreContextUnitOfWork, SmsGateway.Infrastructure.Data.CoreContext">
        <!--  <databaseInitializer type="System.Data.Entity.MigrateDatabaseToLatestVersion`2[[SmsGateway.Infrastructure.Data.CoreContext.UnitOfWork.CoreContextUnitOfWork, SmsGateway.Infrastructure.Data.CoreContext], [SmsGateway.Infrastructure.Data.CoreContext.Migrations.Configuration, SmsGateway.Infrastructure.Data.CoreContext]], EntityFramework" />
     --> </context>
    </contexts>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <!--System Web -->
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <!--Connection Strings -->
  <connectionStrings>
    <add name="SmsGateway.Infrastructure.Data.CoreContext.UnitOfWork.CoreContextUnitOfWork" providerName="System.Data.SqlClient" connectionString="Server=.\SQLEXPRESS;Initial Catalog=SmsGateway;Integrated Security=true;MultipleActiveResultSets=True" />
  </connectionStrings>
  <!--Web Server-->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <!--System Service Model -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicBindingConfiguration" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxArrayLength="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <extensions>
      <behaviorExtensions>
       <!-- <add name="BehaviorExtension" type="SmsGateway.DistributedServices.Seedwork.EndpointBehaviors.SilverlightFaultBehavior, NLayerApp.DistributedServices.Seedwork, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      -->
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Faults">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="SmsGateway.DistributedServices.CoreContext.AdministracaoService">
        <endpoint address="" behaviorConfiguration="Faults" binding="basicHttpBinding" bindingConfiguration="basicBindingConfiguration" name="basicService" contract="SmsGateway.DistributedServices.CoreContext.IAdministracaoService" />
      </service>
      <service name="SmsGateway.DistributedServices.CoreContext.ClientService">
        <endpoint address="" behaviorConfiguration="Faults" binding="basicHttpBinding" bindingConfiguration="basicBindingConfiguration" name="basicService" contract="SmsGateway.DistributedServices.CoreContext.IClientService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>